In [3]:
# Q1 평균
kor = 80
eng = 75
math = 55

In [6]:
average =( kor + eng + math)/ 3
average

70.0

In [11]:
# Q2 홀짝
number = int(input("input the number : "))

input the number : 13

In [12]:
if number % 2 == 0 : 
    print("짝수")
else :
    print("홀수")

홀수

In [18]:
# Q3
# 홍길동 씨의 주민등록번호는 881120-1068234이다. 홍길동 씨의 주민등록번호를 연월일(YYYYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력해 보자.
pin = '881120-1068234'
pin_1 = id[ :6]
pin_2 = id[8:]
print(pin_1,pin_2)

881120 068234

In [22]:
#Q4
# 주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다. 주민등록번호에서 성별을 나타내는 숫자를 출력해 보자.
pin = "881120-1068234"
gender = pin[7]
if gender == "1" or "3" :
    print('남자')
else :
    print('여자')

남자

In [25]:
# Q5
# 다음과 같은 문자열 a:b:c:d가 있다. 문자열의 replace 함수를 사용하여 a#b#c#d로 바꿔서 출력해 보자.
a = "a:b:c:d"
aa =a.replace(':','#')
aa

'a#b#c#d'

In [29]:
#Q6
#[1, 3, 5, 4, 2] 리스트를 [5, 4, 3, 2, 1]로 만들어 보자.
num_list = [1, 3, 5, 4, 2]
num_list.sort()
num_list

[1, 2, 3, 4, 5]

In [33]:
# Q7
# ['Life', 'is', 'too', 'short'] 리스트를 Life is too short 문자열로 만들어 출력해 보자.
' '.join(['Life', 'is', 'too', 'short'])

'Life is too short'

In [36]:
# Q8
# (1,2,3) 튜플에 값 4를 추가하여 (1,2,3,4)를 만들어 출력해 보자.
number_tuple = (1,2,3)
number_tuple + '4'

TypeError: can only concatenate tuple (not "str") to tuple